.highlight {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  font-weight: 500;
}

h2, .h2 {
  margin-top: 3rem;
}

h3, h4, .h3, .h4 {
  margin-top: 0;
}

blockquote ul {
  margin-bottom: 0;
}

code, pre {
  font-family: Monaco, Menlo, Consolas, monospace;
}

.highlight {
  .k {
    color: rgb(202, 132, 95);
    font-weight: normal;
  }
  .s, .ss {
    color: rgb(106, 135, 89);
  }
}

p.note {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 -15px 15px -15px;
}

p.info {
  background-color: #eee;
}
