html {
  --font-weight-heading: normal;
}

.highlight {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1664px) {
    body:not(.no-large-headings) .content h1, body:not(.no-large-headings) .content .h1 {
        width: calc(100% + 50vw - 32rem);
        font-size: 2.5rem;
        line-height:1.2
    }
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5, .heading, .sidebar-nav-item, .post-date {
  font-weight: normal;
}

h2, .h2 {
  margin-top: 3rem;
}

h3, h4, .h3, .h4 {
  margin-top: 0;
}

blockquote ul {
  margin-bottom: 0;
}

code, pre {
  font-family: Monaco, Menlo, Consolas, monospace;
}

.highlight {
  .k {
    font-weight: normal;
  }
  .s, .ss {
    color: rgb(106, 135, 89);
  }
}

p.note {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 -15px 15px -15px;
}

p.info {
  background-color: #eee;
}

p.todo {
  color: red;

  &:before {
    content: "📝 TODO: ";
    font-weight: bold;
  }
}


